# IntelliJ IDEA
.idea/
.vscode/
*.iml

# Maven
target/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

application-dev.yml
application-test.yml
application-prod.yml
