spring:
  datasource:
    url: jdbc:h2:mem:ecommerce_db;DB_CLOSE_DELAY=-1;MODE=MySQL;INIT=CREATE SCHEMA IF NOT EXISTS ecommerce
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

app:
  jwt:
    secret: ZmFrZS1zZWNyZXQta2V5LWZvci1kZXYtcHVycG9zZXM=
    expiration-ms: 3600000

logging:
  level:
    root: INFO
    com.abhishek.ecommerce: DEBUG

