server:
  port: 8081

app:
  jwt:
    access-secret: CUFcUOzLyKUNyDow6hIaxv8P0IF+mJm5n0PctLzc90c4/lMkkVCKvHvT8qgbUlNeRxfYKP5pffq2+IKzvKT8BQ==
    refresh-secret: 0b0HX4W6fy9P3pH329/bcQPtZRkvyhxSPEtQJGMeBHGetVuGpf70awJsKJf+iqg4Vj4PRiYnT/xxPQqaaiaCzQ==
    access-token-expiration: 900000
    refresh-token-expiration: 604800000

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce_application_db
    username: ecom-app
    password: Ecom-app@123

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 73535182868-kdran97r5vkhdk9b4ov9rq11askflj09.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile



  mail:
    host: smtp.gmail.com
    port: 587
    protocol: smtp
    username: ecommerce.application.mail@gmail.com
    password: hrjpsjdvsxogcbdi
    debug: true
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

logging:
  level:
    root: info
    com.abhishek.ecommerce: debug
    org..hibernate.sql: debug
    org.springframework: info



