server:
  port: ${H2_SERVER_PORT}

app:
  jwt:
    access-secret: ${H2_JWT_ACCESS_SECRET}
    refresh-secret: ${H2_JWT_REFRESH_SECRET}
    access-token-expiration-ms: ${H2_JWT_ACCESS_TOKEN_EXPIRATION}
    refresh-token-expiration-ms: ${H2_JWT_REFRESH_TOKEN_EXPIRATION}

spring:
  datasource:
    url: ${H2_DB_URL}
    driver-class-name: org.h2.Driver
    username: ${H2_DB_USERNAME}
    password: ${H2_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${H2_DDL_AUTO}
    show-sql: ${H2_SHOW_SQL}

  h2:
    console:
      enabled: ${H2_CONSOLE_ENABLED}
      path: ${H2_CONSOLE_PATH}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${H2_GOOGLE_CLIENT_ID}
            client-secret: ${H2_GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

logging:
  level:
    com.abhishek.ecommerce: ${H2_LOGGING_LEVEL}
